@page "/authorization"
@using WorkingWithDocumentation.Data
@inject UserService UserService
@inject NavigationManager Navigation


<h3>Авторизация</h3>
    <div>
        <label>Введите логин</label>
        <input @bind-value="auth_login"  placeholder="Введите логин">
        <br /><br />
        <label>Введите пароль</label>
        <input type="password" @bind-value="auth_pass" placeholder="Введите пароль">
        <br /><br />
        <button @onclick=Autorization name="authButton">Войти</button>
        <button @onclick=Registration name="authButton">Регистрация</button>
        <br /><br />
    </div>

@code {
    string auth_login;
    string auth_pass;
    User user;
    List<User> users = new List<User>();
    bool isError = false;
    string errorMessage;

    private void Autorization()
    {
        if(auth_login != "" && auth_pass != "")
        {
            user = UserService.CheckUser(auth_login, auth_pass);

            if(user != null)
            {
                users.Add(user);
                auth_login = null;
                auth_pass = null;
                isError = false; 
            }
            else
            {
                errorMessage = "Wrong login or password!";
                isError = true;
            }
        }
    }

    private void Registration()
    {
        Navigation.NavigateTo("/registration");
    }
}