@page "/documents"
@inject UserService UserService
@inject ProjectService ProjectService


@if(project is not null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">№ документа</th>
                <th scope="col">Наименование документа</th>
                <th scope="col">Важный документ</th>
                <th scope="col">Утверждён</th>
                <th scope="col">Скачать</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var doc in project.Documents)
            {
                <tr>
                    <td>@doc.NumberOfDocument</td>
                    <td>@doc.NameOfDocument</td>
                    @if(doc.IsImportant)
                    {
                        <td><input name="isImportant" type="checkbox" checked="checked" @onclick="() => IsImportant(doc)"/></td>
                    } 
                    else
                    {
                        <td><input name="isImportant" type="checkbox" checked="checked" @onclick="() => IsImportant(doc)"/></td>
                    }

                    @if(doc.IsApproved)
                    {
                        <td><input name="isApproved" type="checkbox" checked="checked" @onclick="() => IsApproved(doc)" /></td>
                    }
                    else
                    {
                        <td><input name="isApproved" type="checkbox" @onclick="() => IsApproved(doc)" /></td>
                    }
                    
                    <td><button>Скачать</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    Project project;
    string check;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        project = ProjectService.GetProjectFromDBByNumber(ProjectService.NumberOfCurrentProject);
    }

    private void IsImportant(Document doc)
    {
        doc.IsImportant = !doc.IsImportant;
        ProjectService.UpdateDocumentBoolByNumber(doc);
    }

    private void IsApproved(Document doc)
    {
        doc.IsApproved = !doc.IsApproved;
        ProjectService.UpdateDocumentBoolByNumber(doc);      
    }
}