@page "/registration"
@inject UserService UserService


@if(!UserService.IsAuthorized())
{
    <div class="card" style="width: 50%; margin: 100px 25% 0 25%">
        <div class="card-header">
            <h3 style="margin-left: 35%">Регистрация</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Выберите роль</label>
                <select name="role" @bind="reg_role">
                    <option value="customer">Заказчик</option>
                    <option value="designer">Проектировщик</option>
                    <option value="developer">Застройщик</option>
                </select>
            </div>
            <div class="form-group">
                <br>
                <label>Введите почту</label>
                <input type="email" @bind-value="reg_email" class="form-control" placeholder="Введите почту" required>
            </div>
            <div class="form-group">
                <br>
                <label>Введите логин</label>
                <input @bind-value="reg_login" class="form-control" placeholder="Введите логин" required>
            </div>
            <div class="form-group">
                <br>
                <label>Введите пароль</label>
                <input @bind-value="reg_pass" class="form-control" placeholder="Введите пароль" required>
            </div>
            <div class="form-group">
                <br>
                <label>Повторите пароль</label>
                <input @bind-value="reg_pass2" class="form-control" placeholder="Повторите пароль" required>
            </div>
            <div class="form-group">
                <button name="regButton" class="btn btn-primary" @onclick=Register style="margin: 10px 35% 0 35%">Зарегистрироваться</button>
            </div>
        </div>
    </div>

    @if (isError)
    {
        <div class="alert alert-danger" role="alert">
            @errorMessage
        </div>
    }
}
else
{
    <div class="modal-body">
        <h5>Выйдите с аккаунта</h5>
        <p>Чтобы зарегистрировать новый аккаунт, нужно сначала выйти со своего аккаунта</p>
        <p><button class="btn btn-secondary popover-test" @onclick=UserService.LogOut>Выйти с аккаунта</button></p>
    </div>
}

@code {
    string reg_email = "";
    string reg_login = "";
    string reg_pass = "";
    string reg_pass2 = "";
    string reg_role = "";
    bool isError = false;
    string errorMessage = "";

    private void Register()
    {
        if(reg_email != null && reg_login != null && reg_pass != null && reg_pass2 != null && reg_role != "")
        {
            if(UserService.CheckLogin(reg_login))
            {
                isError = true;
                errorMessage = "Пользователь с таким логином уже существует";
                return;
            }

            if (!CheckEmail(reg_email))
            {
                isError = true;
                errorMessage = "Некорректный Email";
                return;
            }

            if(reg_pass == reg_pass2)
            {
                switch(reg_role)
                {
                    case "customer":
                        UserService.AddCustomerToDB(new Customer(reg_login, reg_pass, reg_role, reg_email));
                        break;

                    case "designer":
                        UserService.AddDesignerToDB(new Designer(reg_login, reg_pass, reg_role, reg_email));
                        break;

                    case "developer":
                        UserService.AddDeveloperToDB(new Developer(reg_login, reg_pass, reg_role, reg_email));
                        break;

                    default:
                        break;
                }

                ClearPage();
                isError = false;
            }
            else
            {
                errorMessage = "Пароли не сходятся!";
                isError = true;
            }
        }
        else
        {
            errorMessage = "Не все поля заполнены!";
            isError = true;
        }
    }

    private void ClearPage()
    {
        reg_email = "";
        reg_login = "";
        reg_pass = "";
        reg_pass2 = "";
    }

    private bool CheckEmail(string email)
    {
        return email.Contains('@');
    }
}

