@using WorkingWithDocumentation.Data
@inject UserService UserService

<h3>Профиль</h3>

<label>Роль: Заказчик</label>
<br/><br/>
<label>Введите почту</label>
<input type="email" @bind-value="Customer.Email" placeholder="Введите почту" required>
<br/><br/>
<label>Введите телефон</label>
<input type="tel" @bind-value="Customer.Telephone" placeholder="Введите телефон" required>
<br/><br/>
<label>Введите ФИО</label>
<input @bind-value="Customer.FullName" placeholder="Введите ФИО" required>
<br/><br/>

@if (Customer.Departament is null)
{
    <label>Выберите отрасль</label>
    <select name="role" @onchange="OnChange">
        <option value="Водоснабжение">Водоснабжение</option>
        <option value="Газификация">Газификация</option>
    </select>
}
else
{
    <label>Отрасль: @Customer.Departament</label>
}

<br />
<br />
<button name="saveButton" @onclick=Save>Сохранить</button>

@code {
    [Parameter]
    public Customer Customer { get; set; }

    private void Save()
    {
        UserService.ReplaceCustomer(Customer);
    }

    private void OnChange(ChangeEventArgs e) => Customer.Departament = e.Value.ToString();

}
