@inherits LayoutComponentBase
@using WorkingWithDocumentation.Data;
@inject UserService UserService;

<PageTitle>WorkingWithDocumentation</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/account" target="_blank">@UserService.LoginOfCurrentUser</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
